node_modules/
build/
.dart_tool/
.idea/
.vscode/
*.log
.DS_Store
temp_web_deploy/
temp_deploy/
backend/node_modules/
backend/dist/
backend/serviceAccountKey.json
backend/.env
mobile_app/build/
mobile_app/.dart_tool/
mobile_app/.pub-cache/
mobile_app/android/key.properties
mobile_app/android/local.properties
mobile_app/ios/.symlinks/
mobile_app/ios/Pods/
ai_service/knowledge.json

!.vscode/settings.json
*.apk
